.form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.label {
  font-weight: 400;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.input {
  margin-bottom: 15px;
  margin-top: 5px;
  border-radius: 5px;
  border-color: rgb(151, 202, 219);
  padding: 5px;
}
.button {
  min-width: 80px;
  color: rgb(4, 0, 37);
  background-color: rgb(190, 230, 255);
  border: none;
  border-radius: 5px;
  padding: 7px;
  box-shadow: 3px 3px 3px #464646;
}
.button:active {
  box-shadow: none;
}
