.contact {
  display: flex;
  align-items: center;
}
.name {
  display: inline-block;
  margin-right: 10px;
}
.number {
  margin-left: auto;
  margin-right: 20px;
  color: rgb(0, 0, 70);
  cursor: pointer;
}
.button {
  font-size: small;
  min-width: 70px;
  color: rgb(4, 0, 37);
  background-color: rgb(190, 230, 255);
  border: none;
  border-radius: 5px;
  padding: 3px;
  box-shadow: 2px 2px 3px #464646;
}
.button:active {
  box-shadow: none;
}
